html
    head
        title "Upload New Data"
        link(rel="stylesheet" href="/stylesheets/style.css")
    body
        h1 Upload New Data

    form(method="post" action="map" enctype="multipart/form-data")
        div(class="nuUploadDiv")
            label(class="nuUploadLabel" for="type") Data Type
            input(type="text" id="type" name="type")
        div(class="nuUploadDiv")
            label(class="nuUploadLabel" for="data") Data CSV
            input(type="file" id="data" name="data")
        div(class="nuUploadDiv")
            label(class="nuUploadLabel" for="marker") Marker Image
            input(type="file" id="marker" name="marker")
        div(class="nuUploadDiv")
            input(type="submit" value="Upload")
