html
  head
    title= "Search Results"
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1 Search results for "#{searchString}"
    - for (var x = 0; x < cities.length; x++)
      li
        a(href="view/" + cities[x]._id) #{cities[x].city}, #{cities[x].state_name}
