#mapContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#map {
    height: 500px;
}

h4 {
    margin: 0 0 0.25rem 0;
    text-transform: capitalize;
}

li {
    margin-top: 1rem;
}

#types {
    margin-top: 1rem;
}

.floaterDiv {
    margin-bottom: 1rem;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.smaller-info {
    width: 16rem;
}